.about{
  color: white;
  height: 100%;
  overflow: scroll;
}
.page{
  height: 100%;
}
.content{
  font-weight: 300; 
  position: relative;
  top: 50%;
  float: left;
  width: 40%;
  margin-left: 5%;
}
.section{
  text-align: center;
  height: 100%;
  position: relative;
  z-index: 4000;
}
.lastSection{
  composes: section;
  background-color: #1a1a1a;
}
.box{
  position: fixed;
  height: 90%;
  width: 40%;
  top: 50px;
  right: 100px; 
}
.image{
  height: 100%;
  width: 100%;
}