.landing {
  height: 100%;
  width: 100%;
  background: black;
  position: absolute;
  z-index: -10;
}
.darckBack{
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  z-index: -9;
}
.homeH1{
  color: white;
  font-size: 40px;
  font-weight: 300;
}
.welcomeDiv{
  position: relative;
  width: 100%;
  text-align: center;
  top: 40%;
}

@media only screen and (max-width: 736px) and (orientation: portrait)  { 
    .homeH1{
      font-size: 25px;
    }

}