.header {
  height: 100%;
  position: fixed;
}
.navLeft {
  background-color: #1a1a1a;
  color: white;
  margin: none;
  right: 0;
  position: fixed;
  width: 50px;
  text-align: center;
  height: 100%;
  top:0;
}

.mainMenu {
  position: fixed;
  top: 0;
  background-color: #1a1a1a;
  height: 100%;
  width: 400px;
  right: -400px;
  z-index: -1;
  border-left: 1px solid lightgrey;
}
.infoMenu {
  position: fixed;
  top: 0;
  background-color: #1a1a1a;
  height: 100%;
  width: 100%;
  right: -100%;
}

.closeX {
  top: 50px;
  width: 25px;
  height: 25px;
  padding: 5px; 
  margin: 0;
  position: fixed;
  right: 13px;
  z-index: 2;
  cursor: pointer;
  border: none;
}
.line1, .line2, .line3, .line1Active, .line2Active, .line3Active {
  width: 15px;
  height: 10px;
  position: absolute;
  border-radius: 12%;
  /* Firefox */
  -moz-transition: all 0.3s ease;
  /* WebKit */
  -webkit-transition: all 0.3s ease;
  /* Opera */
  -o-transition: all 0.3s ease;
  /* Standard */
  transition: all 0.3s ease;
}
.line1, .line1Active{
  border-top: 3px solid white;
}
.line2{
  width: 10px;
  border-bottom: 3px solid white;
}
.line2Active{
  opacity: 0;
}
.line3, .line3Active{
  top:12px;
  border-bottom: 3px solid white;
}

.info{
  z-index: 2;
  color: white;
  cursor: pointer;
  position: fixed;
  top: 100px;
  right: 5px;
  padding: 5px;
  height: auto;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.closeX:hover:first-child .line1{
  -ms-transform: translate(0, -1px); /* IE 9 */
  -webkit-transform: translate(0, -1px); /* Safari */
  transform: translate(0, -1px);
}
.closeX:hover:first-child .line3{
  -ms-transform: translate(0, 1px); /* IE 9 */
  -webkit-transform: translate(0, 1px); /* Safari */
  transform: translate(0, 1px);

}

.line1Active{
  -ms-transform: translate(0, 6px) rotate(45deg); /* IE 9 */
  -webkit-transform: translate(0, 6px) rotate(45deg); /* Safari */
  transform: translate(0, 6px) rotate(45deg);
}
.line3Active{
  -ms-transform: translate(0, -6px) rotate(-45deg); /* IE 9 */
  -webkit-transform: translate(0, -6px) rotate(-45deg); /* Safari */
  transform: translate(0, -6px) rotate(-45deg);
}
.navMainMenu{
  height: 100% ;
  overflow: scroll;
}
.menuUl {
  list-style-type: none;
  color: black;
  padding: 0;
  margin: 0;
}
.menuUl a{
  color: black;
}
.menuUl li {
  background-color: white;
  height: 165px;
  border-bottom: 0.5px solid lightgrey;
  position: relative;
}
.menuUl li:hover:first-child .projectImage{
  transform: scale(1.1);
  /* Firefox */
  -moz-transition: all 0.3s ease;
  /* WebKit */
  -webkit-transition: all 0.3s ease;
  /* Opera */
  -o-transition: all 0.3s ease;
  /* Standard */
  transition: all 0.3s ease;
}
.linkedIn {
  color: lightgrey;
  position: fixed;
  right: 20px;
  bottom: 100px;
}
.github {
  color: lightgrey;
  position: fixed;
  right: 20px;
  bottom: 40px;
}
.angelList {
  color: lightgrey;
  position: fixed;
  right: 20px;
  bottom: 70px;
}
.projectImage{
  height: 110px;
  width: 90px;
  background-color: lightgray;
  position: absolute;
  display: inline-block;
  margin: 25px;
  right: 70px;
}
.projectImage img{
  width: 100%;
  position: relative;
}

.details{
  display: inline-block;
  padding: 25px;
  padding-right: 0;
  width: 200px;
  font-size: 12px;
}
.number{
  display: inline-block;
  float: left;
  font-weight: 700;
}
.innerDetail{
  display: inline-block;
  padding-left: 50px;
}
.innerDetail p {
  font-weight: 700;
}
/*MEDIA QUERIES*/

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  
  .mainMenu {
    width: 100%;
    right: -100%;
  }
}
