.project{
  height: 100%;
}
.iframe{
  width: 100%;
  height: 100%;
  border: none;
}
.mainSection{
  height: 100%;
}
.tableImage{
  background: black;
  height: 50%;
  width: 30%;
  display: inline-block;
  margin: 20px;
  min-width: 250px;
  min-height: 300px;
}
.table{
  text-align: center;
  width: 85%;
  margin: 0 auto;
  height: 100%;
}